/*
----------------
    HEADER
----------------
*/

header{
    height: 60px;
}

.logo-container-2{
    width: 60px;
}



/* 
-------------------
    MAIN CONTENT
-------------------
*/

aside{
    width: 200px;
}


.main-content{
    height: calc(100vh - 60px);
}

.image-container{
    width: 30px;
}

.hover:hover{
    background-color:rgba(145, 144, 144, 0.321);
}

