/*
----------------
    HEADER
----------------
*/

header{
    height: 60px;
}

.logo-container-2{
    width: 60px;
}

.logo-container-2 img{
    width: 100%;
}



/* 
-------------------
    MAIN CONTENT
-------------------
*/

aside{
    width: 200px;
}


.main-content{
    height: calc(100vh - 60px);
}

.image-container{
    width: 30px;
}

.image-container img{
    width: 100%;
}


.image-container-2 img{
    width: 100%;
}

